
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Verdana', arial, sans-serif;
  padding-bottom: 56px;
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(13, 126, 146, 0.4); */
  background: url("https://media.cntraveler.com/photos/56ce169069d8fae9411b060f/master/pass/message-in-a-bottle-cr-getty.jpg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=1000") no-repeat center center fixed;
  background-attachment: fixed;
  color: #050e0e;
  letter-spacing: 0.03em;
}

a {
  font-family: 'Verdana';
  color: #fbeec1;
  font-size: 11px;
}

a:hover {
  color: #bd0606;
}

i {
  color: #050e0e;
  font-size: 2em;
}

p {
  font-size: 14px;
  margin: 0;
}

small {
  font-size: 12px;
  color: darkgray;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr:hover {
  background-color: #333;
}

table tr.active {
  background-color: #333;
}

i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #00aa00;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header-image {
  width: 100%;
}

.about-profile-pic {
  float: left;
  margin: 0 1em 1em 0;
}

.footer-middle {
  padding-top: 3rem;
  color: 'white';
}

.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: 'white';
}

td {
  border-bottom: 1px solid gray;
  padding: 10px;
}

hr {
  width: 60%;
  text-align: center;
  box-shadow: 0 0 10px 1px rgb(170, 223, 224);
  border: 0;
  height: 0;
}

/* ids */
#app {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

#albums {
  margin: 2em;
}

#logo {
  max-height: 100px;
  max-width: 100px;
}

#main > div.container {
  margin-left: 150px;
}

#player-container {
  position: fixed;
  height: 56px;
  width: 100%;
  bottom: 0;
}

#player-controls {
  background-color: #333;
  box-shadow: 0px -2px 2px #5a5a5a;
  height: 100%;
}

#player-controls > div {
  height: 100%;
  align-items: center;
}

#player-controls i {
  font-size: 2em;
  padding: 0 0.5em;
}

#player-controls i:nth-child(2) {
  font-size: 3em;
}

#sidebar {
  min-width: 150px;
  height: 100%;
  background-color: #333;
  border-right: 1px solid gray;
  text-align: center;
  position: fixed;
}

#sidebar img {
  padding-top: 10px;
}

#sidebar section {
  text-align: left;
  padding-left: 10px;
}

#sidebar a {
  transition: border 0.2s ease;
  cursor: pointer;
}

#sidebar a:hover {
  border-bottom: 2px solid #00aaaa;
}

/* classes */
.album {
  margin: 1em;
}

.album img {
  height: 200px;
  width: 200px;
  transition: box-shadow 0.5s ease;
  border-radius: 3px;
}

.album img:hover {
  box-shadow: 2px 2px 2px #5a5a5a;
}

.center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
}

.gray {
  color: gray;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Slider image */
.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

#one {
  animation: breathe 7.1s ease-out infinite normal;
}
#two {
  animation: breathe 5.5s ease-out infinite normal;
}
#three {
  animation: breathe 6.8s ease-out infinite normal;
}
#four {
  animation: breathe 6.5s ease-out infinite normal;
}
#subscribe {
  animation: breathe 6.5s ease-out infinite normal;
}

@keyframes breathe {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


@media only screen and  (
  max-width: 320px
)
{
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Verdana', arial, sans-serif;
    padding-bottom: 56px;
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(13, 126, 146, 0.4); */
    background: url("https://media.cntraveler.com/photos/56ce169069d8fae9411b060f/master/pass/message-in-a-bottle-cr-getty.jpg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=1000") no-repeat center center fixed;
    background-attachment: fixed;
    color: #050e0e;
    letter-spacing: 0.03em;
  }

  a {
    font-family: 'Verdana';
    color: #fbeec1;
    font-size: 11px;
  }
  
  a:hover {
    color: #bd0606;
  }
  
  i {
    color: #050e0e;
    font-size: 2em;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }
  
  small {
    font-size: 12px;
    color: darkgray;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table tr:hover {
    background-color: #333;
  }
  
  table tr.active {
    background-color: #333;
  }
  
  i.fa {
    cursor: pointer;
    font-size: 2em;
    transition: color 0.2s ease;
  }
  
  i.fa:hover {
    color: #00aa00;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .header-image {
    width: 100%;
  }
  
  .about-profile-pic {
    float: left;
    margin: 0 1em 1em 0;
  }
  
  .footer-middle {
    padding-top: 3rem;
    color: 'white';
  }
  
  .footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: 'white';
  }
  
  td {
    border-bottom: 1px solid gray;
    padding: 10px;
  }
  
  hr {
    width: 60%;
    text-align: center;
    box-shadow: 0 0 10px 1px rgb(170, 223, 224);
    border: 0;
    height: 0;
  }
  
  /* ids */
  #app {
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  
  #albums {
    margin: 2em;
  }
  
  #logo {
    max-height: 100px;
    max-width: 100px;
  }
  
  #main > div.container {
    margin-left: 150px;
  }
  
  #player-container {
    position: fixed;
    height: 56px;
    width: 100%;
    bottom: 0;
  }
  
  #player-controls {
    background-color: #333;
    box-shadow: 0px -2px 2px #5a5a5a;
    height: 100%;
  }
  
  #player-controls > div {
    height: 100%;
    align-items: center;
  }
  
  #player-controls i {
    font-size: 2em;
    padding: 0 0.5em;
  }
  
  #player-controls i:nth-child(2) {
    font-size: 3em;
  }
  
  #sidebar {
    min-width: 150px;
    height: 100%;
    background-color: #333;
    border-right: 1px solid gray;
    text-align: center;
    position: fixed;
  }
  
  #sidebar img {
    padding-top: 10px;
  }
  
  #sidebar section {
    text-align: left;
    padding-left: 10px;
  }
  
  #sidebar a {
    transition: border 0.2s ease;
    cursor: pointer;
  }
  
  #sidebar a:hover {
    border-bottom: 2px solid #00aaaa;
  }
  
  /* classes */
  .album {
    margin: 1em;
  }
  
  .album img {
    height: 200px;
    width: 200px;
    transition: box-shadow 0.5s ease;
    border-radius: 3px;
  }
  
  .album img:hover {
    box-shadow: 2px 2px 2px #5a5a5a;
  }
  
  .center {
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    height: 100%;
    width: 100%;
  }
  
  .gray {
    color: gray;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }

  /* Navigation Bar*/
  .navigation {
    overflow: hidden;
    float: left;
    display: block;
  }

  #logo {
    display: block;
  }

  /* Slider image */
  .slide-container {
    width: 70%;
    margin: auto;
  }
  
  h3 {
    text-align: center;
  }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
  
  #one {
    animation: breathe 7.1s ease-out infinite normal;
  }
  #two {
    animation: breathe 5.5s ease-out infinite normal;
  }
  #three {
    animation: breathe 6.8s ease-out infinite normal;
  }
  #four {
    animation: breathe 6.5s ease-out infinite normal;
  }
  #subscribe {
    animation: breathe 6.5s ease-out infinite normal;
  }
  
  
  /* @keyframes breathe {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  } */
  
  @keyframes breathe {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
}
